<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [99]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2.0.8)

## Imports

Import any additional libraries you may need here.

In [100]:
import requests
import pandas as pd
import json
import csv

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [101]:
# Write your code here
url =requests.get("http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3fd5b19724f63ee7b5df81d88d7f3ea0") #Make sure to change ******* to your API key.
cat=url.json()
cat

{'success': True,
 'timestamp': 1641539343,
 'base': 'EUR',
 'date': '2022-01-07',
 'rates': {'AED': 4.151451,
  'AFN': 118.572678,
  'ALL': 121.392443,
  'AMD': 546.502941,
  'ANG': 2.039109,
  'AOA': 623.54813,
  'ARS': 116.689216,
  'AUD': 1.578976,
  'AWG': 2.034416,
  'AZN': 1.922697,
  'BAM': 1.956091,
  'BBD': 2.284534,
  'BDT': 97.277823,
  'BGN': 1.953993,
  'BHD': 0.42618,
  'BIF': 2257.301194,
  'BMD': 1.130231,
  'BND': 1.539046,
  'BOB': 7.80161,
  'BRL': 6.42491,
  'BSD': 1.131416,
  'BTC': 2.736611e-05,
  'BTN': 84.214685,
  'BWP': 13.233256,
  'BYN': 2.930491,
  'BYR': 22152.524653,
  'BZD': 2.280674,
  'CAD': 1.437207,
  'CDF': 2268.373627,
  'CHF': 1.041502,
  'CLF': 0.034309,
  'CLP': 946.680411,
  'CNY': 7.206125,
  'COP': 4557.84804,
  'CRC': 726.581261,
  'CUC': 1.130231,
  'CUP': 29.951118,
  'CVE': 110.280695,
  'CZK': 24.515102,
  'DJF': 201.420646,
  'DKK': 7.438061,
  'DOP': 64.730494,
  'DZD': 157.482986,
  'EGP': 17.761128,
  'ERN': 16.953551,
  'ETB': 56.130853,
  'EUR': 1,
  'FJD': 2.412024,
  'FKP': 0.852622,
  'GBP': 0.83476,
  'GEL': 3.493034,
  'GGP': 0.852622,
  'GHS': 6.986894,
  'GIP': 0.852622,
  'GMD': 59.76091,
  'GNF': 10415.466592,
  'GTQ': 8.735043,
  'GYD': 236.793699,
  'HKD': 8.816196,
  'HNL': 27.780848,
  'HRK': 7.521673,
  'HTG': 113.125101,
  'HUF': 360.21022,
  'IDR': 16227.628493,
  'ILS': 3.511706,
  'IMP': 0.852622,
  'INR': 84.014583,
  'IQD': 1651.41041,
  'IRR': 47780.508839,
  'ISK': 146.409637,
  'JEP': 0.852622,
  'JMD': 174.580895,
  'JOD': 0.801353,
  'JPY': 131.0271,
  'KES': 127.885549,
  'KGS': 95.845929,
  'KHR': 4610.837786,
  'KMF': 490.865452,
  'KPW': 1017.207677,
  'KRW': 1359.158546,
  'KWD': 0.342177,
  'KYD': 0.942926,
  'KZT': 492.70576,
  'LAK': 12712.596725,
  'LBP': 1710.828341,
  'LKR': 228.558205,
  'LRD': 165.720084,
  'LSL': 17.766636,
  'LTL': 3.337278,
  'LVL': 0.683666,
  'LYD': 5.205034,
  'MAD': 10.488293,
  'MDL': 20.253403,
  'MGA': 4500.311286,
  'MKD': 61.622679,
  'MMK': 2011.702301,
  'MNT': 3230.634515,
  'MOP': 9.091913,
  'MRO': 403.492219,
  'MUR': 48.921408,
  'MVR': 17.473258,
  'MWK': 924.336745,
  'MXN': 23.165548,
  'MYR': 4.755441,
  'MZN': 72.142818,
  'NAD': 17.755266,
  'NGN': 465.598208,
  'NIO': 40.06141,
  'NOK': 10.043248,
  'NPR': 134.737811,
  'NZD': 1.673595,
  'OMR': 0.43517,
  'PAB': 1.131451,
  'PEN': 4.484359,
  'PGK': 4.02363,
  'PHP': 57.992444,
  'PKR': 199.812481,
  'PLN': 4.555903,
  'PYG': 7848.604489,
  'QAR': 4.115164,
  'RON': 4.94521,
  'RSD': 117.60619,
  'RUB': 86.330988,
  'RWF': 1173.980334,
  'SAR': 4.241778,
  'SBD': 9.140638,
  'SCR': 15.518895,
  'SDG': 494.471633,
  'SEK': 10.335876,
  'SGD': 1.536091,
  'SHP': 1.556778,
  'SLL': 12805.51552,
  'SOS': 662.315573,
  'SRD': 24.030969,
  'STD': 23393.496661,
  'SVC': 9.900321,
  'SYP': 2839.696853,
  'SZL': 17.800425,
  'THB': 38.043446,
  'TJS': 12.780119,
  'TMT': 3.96711,
  'TND': 3.256759,
  'TOP': 2.582013,
  'TRY': 15.664237,
  'TTD': 7.693027,
  'TWD': 31.284228,
  'TZS': 2608.572882,
  'UAH': 31.107689,
  'UGX': 4008.870525,
  'USD': 1.130231,
  'UYU': 50.628205,
  'UZS': 12242.193941,
  'VEF': 241677513874.2311,
  'VND': 25673.19375,
  'VUV': 128.001642,
  'WST': 2.938793,
  'XAF': 656.024243,
  'XAG': 0.051161,
  'XAU': 0.000631,
  'XCD': 3.054506,
  'XDR': 0.808683,
  'XOF': 656.024243,
  'XPF': 119.66877,
  'YER': 282.557361,
  'ZAR': 17.837281,
  'ZMK': 10173.433119,
  'ZMW': 18.980281,
  'ZWL': 363.933872}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [102]:
# Turn the data into a dataframe
df = pd.read_json("http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3fd5b19724f63ee7b5df81d88d7f3ea0")
df.head()

     success           timestamp base       date       rates
AED     True 2022-01-07 07:09:03  EUR 2022-01-07    4.151451
AFN     True 2022-01-07 07:09:03  EUR 2022-01-07  118.572678
ALL     True 2022-01-07 07:09:03  EUR 2022-01-07  121.392443
AMD     True 2022-01-07 07:09:03  EUR 2022-01-07  546.502941
ANG     True 2022-01-07 07:09:03  EUR 2022-01-07    2.039109

In [103]:
# Drop unnescessary columns
df.drop(["success","timestamp","base","date"],axis=1,inplace=True)
df

            rates
AED      4.151451
AFN    118.572678
ALL    121.392443
AMD    546.502941
ANG      2.039109
..            ...
YER    282.557361
ZAR     17.837281
ZMK  10173.433119
ZMW     18.980281
ZWL    363.933872

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [105]:
# Save the Dataframe
df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).